In [83]:
import sqlite3
import pandas as pd

# Задание 1: Создание таблицы и изменение данных
Задание: Создайте таблицу EmployeeDetails для хранения информации о
сотрудниках. Таблица должна содержать следующие столбцы:
* EmployeeID (INTEGER, PRIMARY KEY)
* EmployeeName (TEXT)
* Position (TEXT)
* HireDate (DATE)
* Salary (NUMERIC)
После создания таблицы добавьте в неё три записи с произвольными данными о
сотрудниках.

Эталонное решение:
-- Создание таблицы
* CREATE TABLE EmployeeDetails (
EmployeeID INTEGER PRIMARY KEY,
EmployeeName TEXT,
Position TEXT,
HireDate DATE,
Salary NUMERIC
);
-- Добавление данных
* INSERT INTO EmployeeDetails (EmployeeID, EmployeeName, Position,
HireDate, Salary) VALUES (1, 'John Smith', 'Sales Manager',
'2022-01-15', 55000);
INSERT INTO EmployeeDetails (EmployeeID, EmployeeName, Position,
HireDate, Salary) VALUES (2, 'Jane Doe', 'Marketing Specialist',
'2021-06-30', 48000);
INSERT INTO EmployeeDetails (EmployeeID, EmployeeName, Position,
HireDate, Salary) VALUES (3, 'Emily Johnson', 'Software Engineer',
'2023-03-22', 65000);

In [84]:
conn = sqlite3.connect("sqlite.db")
curs = conn.cursor()

In [85]:
curs.execute("""
            CREATE TABLE IF NOT EXISTS EmployeeDetails (
            EmployeeID INTEGER PRIMARY KEY,
            EmployeeName TEXT,
            Position TEXT,
            HireDate DATE,
            Salary NUMERIC
            );
            """)

In [86]:
curs.execute("""
INSERT OR IGNORE INTO EmployeeDetails (EmployeeID, EmployeeName, Position,HireDate, Salary) VALUES 
(1, 'John Smith', 'Sales Manager','2022-01-15', 55000),
(2, 'Jane Doe', 'Marketing Specialist','2021-06-30', 48000),
(3, 'Emily Johnson', 'Software Engineer','2023-03-22', 65000);
""")
conn.commit()

# Задание 2: Создание представления
Задание: Создайте представление HighValueOrders для отображения всех заказов,
сумма которых превышает 10000. В представлении должны быть следующие столбцы:
● OrderID (идентификатор заказа),
● OrderDate (дата заказа),
● TotalAmount (общая сумма заказа, вычисленная как сумма всех Quantity *
Price).
Используйте таблицы Orders, OrderDetails и Products.
Подсказки:
1. Используйте JOIN для объединения таблиц.
2. Используйте функцию SUM() для вычисления общей суммы заказа.

In [87]:
"""
create view HighValueOrders AS
select o."OrderID", o."OrderDate", SUM(od."Quantity" * p."Price") AS TotalAmount
FROM public."Orders" o
JOIN public."OrderDetails" od ON o."OrderID" = od."OrderID"
JOIN public."Products" p ON od."ProductID" = p."ProductID"
GROUP BY o."OrderID", o."OrderDate"
HAVING SUM(od."Quantity" * p."Price") > 10000;
"""
"""
create view HighValueOrders AS
select 
o."OrderID", 
o."OrderDate", 
SUM(od."Quantity" * p."Price") AS TotalAmount
FROM public."Orders" o
join public."OrderDetails" od USING ("OrderID")
join public."Products" p using ("ProductID")
GROUP BY o."OrderID", o."OrderDate"
HAVING SUM(od."Quantity" * p."Price") > 10000;
"""

'\ncreate view HighValueOrders AS\nselect \no."OrderID", \no."OrderDate", \nSUM(od."Quantity" * p."Price") AS TotalAmount\nFROM public."Orders" o\njoin public."OrderDetails" od USING ("OrderID")\njoin public."Products" p using ("ProductID")\nGROUP BY o."OrderID", o."OrderDate"\nHAVING SUM(od."Quantity" * p."Price") > 10000;\n'

# Задание 3: Удаление данных и таблиц
Задание: Удалите все записи из таблицы EmployeeDetails, где Salary меньше
50000. Затем удалите таблицу EmployeeDetails из базы данных.
Подсказки:
1. Используйте команду DELETE FROM для удаления данных.
2. Используйте команду DROP TABLE для удаления таблицы.

Эталонное решение:
-- Удаление данных
* DELETE FROM EmployeeDetails 
* WHERE Salary < 50000;
-- Удаление таблицы
* DROP TABLE EmployeeDetails;

In [88]:
curs.execute("""
                DELETE FROM EmployeeDetails WHERE Salary < 50000;
""")
conn.commit()

In [89]:
curs.execute("""
            DROP TABLE IF EXISTS EmployeeDetails;
""")
conn.commit()

# Задание 4: Создание хранимой процедуры
Задание: Создайте хранимую процедуру GetProductSales с одним параметром
ProductID. Эта процедура должна возвращать список всех заказов, в которых
участвует продукт с заданным ProductID, включая следующие столбцы:
* OrderID (идентификатор заказа),
* OrderDate (дата заказа),
* CustomerID (идентификатор клиента).
Подсказки:
1. Используйте команду CREATE PROCEDURE для создания процедуры.
2. Используйте JOIN для объединения таблиц и WHERE для фильтрации данных по
ProductID


Эталонное решение:
* CREATE PROCEDURE GetProductSales(IN p_ProductID INTEGER)
BEGIN
* SELECT
o.OrderID,
o.OrderDate,
o.CustomerID
* FROM Orders o
* JOIN OrderDetails od ON o.OrderID = od.OrderID
* WHERE od.ProductID = p_ProductID;
* END;

In [ ]:
"""
CREATE PROCEDURE GetProductSales(IN p_ProductID INTEGER)
BEGIN
    SELECT
        o."OrderID",
        o."OrderDate",
        o."CustomerID"
    FROM "Orders" o
    JOIN OrderDetails od USING ("OrderID")
    WHERE od."ProductID" = p_ProductID;
END;

CALL GetProductSales(75);
"""