In [69]:
import init_spark_env
import pyspark

In [70]:
from pyspark.sql import SparkSession

In [71]:
from pyspark.sql.functions import col, avg, stddev, stddev_pop

In [72]:
spark = SparkSession.builder.master('local').enableHiveSupport().appName('test_cli').getOrCreate()

In [73]:
spark

In [74]:
spark.sql("CREATE DATABASE IF NOT EXISTS test")

DataFrame[]

In [75]:
spark.sql("CREATE TABLE IF NOT EXISTS test.test (Employee_ID String,Name String,Job_Code String, Job String, City_code Int, Home_city String);")

24/12/08 21:58:10 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

DataFrame[]

In [76]:
spark.sql('INSERT INTO test.test values("E001", "Alice", "J01", "Chef", 26, "Moscow");')
spark.sql('INSERT INTO test.test values ("E001", "Alice", "J02", "Waiter", 26, "Moscow");')
spark.sql('INSERT INTO test.test values ("E002", "Bob", "J02", "Waiter", 56, "Perm");')
spark.sql('INSERT INTO test.test values ("E002", "Bob", "J03", "Bartender", 56, "Perm");')
spark.sql('INSERT INTO test.test values ("E002", "Alice", "J01", "Chef", 56, "Perm");')

DataFrame[]

In [77]:
spark.sql("SELECT * FROM test.test;").show()

+-----------+-----+--------+---------+---------+---------+
|Employee_ID| Name|Job_Code|      Job|City_code|Home_city|
+-----------+-----+--------+---------+---------+---------+
|       E002|  Bob|     J03|Bartender|       56|     Perm|
|       E002|  Bob|     J02|   Waiter|       56|     Perm|
|       E002|Alice|     J01|     Chef|       56|     Perm|
|       E002|  Bob|     J03|Bartender|       56|     Perm|
|       E001|Alice|     J02|   Waiter|       26|   Moscow|
|       E001|Alice|     J01|     Chef|       26|   Moscow|
|       E002|Alice|     J01|     Chef|       56|     Perm|
|       E001|Alice|     J01|     Chef|       26|   Moscow|
|       E001|Alice|     J02|   Waiter|       26|   Moscow|
|       E002|  Bob|     J02|   Waiter|       56|     Perm|
+-----------+-----+--------+---------+---------+---------+

In [78]:
spark.sql('SELECT DISTINCT test.Employee_ID, test.Job_Code, test.City_code FROM test.test;').show()

+-----------+--------+---------+
|Employee_ID|Job_Code|City_code|
+-----------+--------+---------+
|       E002|     J03|       56|
|       E002|     J02|       56|
|       E002|     J01|       56|
|       E001|     J02|       26|
|       E001|     J01|       26|
+-----------+--------+---------+

In [79]:
spark.sql("CREATE TABLE IF NOT EXISTS test.main (SELECT DISTINCT test.Employee_ID, test.Job_Code, test.City_code FROM test.test);")

24/12/08 21:58:11 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

DataFrame[]

In [80]:
spark.sql("SELECT DISTINCT test.Employee_ID, test.Name FROM test.test;").show()

+-----------+-----+
|Employee_ID| Name|
+-----------+-----+
|       E002|  Bob|
|       E002|Alice|
|       E001|Alice|
+-----------+-----+

In [81]:
spark.sql("CREATE TABLE IF NOT EXISTS test.Employee (SELECT DISTINCT test.Employee_ID, test.Name FROM test.test);")

24/12/08 21:58:11 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

DataFrame[]

In [82]:
spark.sql("SELECT DISTINCT  test.Job_Code, test.Job FROM test.test;").show()

+--------+---------+
|Job_Code|      Job|
+--------+---------+
|     J03|Bartender|
|     J02|   Waiter|
|     J01|     Chef|
+--------+---------+

In [83]:
spark.sql("CREATE TABLE IF NOT EXISTS test.job (SELECT DISTINCT  test.Job_Code, test.Job FROM test.test);")

24/12/08 21:58:12 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

DataFrame[]

In [84]:
spark.sql("SELECT DISTINCT test.City_code, test.Home_city FROM test.test;").show()

+---------+---------+
|City_code|Home_city|
+---------+---------+
|       56|     Perm|
|       26|   Moscow|
+---------+---------+

In [85]:
spark.sql("CREATE TABLE IF NOT EXISTS test.city (SELECT DISTINCT test.City_code, test.Home_city FROM test.test);")

24/12/08 21:58:12 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

DataFrame[]

In [86]:
spark.sql("SELECT * FROM test.main;").show()

+-----------+--------+---------+
|Employee_ID|Job_Code|City_code|
+-----------+--------+---------+
|       E002|     J03|       56|
|       E001|     J01|       26|
|       E002|     J01|       56|
|       E001|     J02|       26|
|       E002|     J02|       56|
+-----------+--------+---------+

In [87]:
spark.sql("SELECT * FROM test.job;").show()

+--------+---------+
|Job_Code|      Job|
+--------+---------+
|     J03|Bartender|
|     J01|     Chef|
|     J02|   Waiter|
+--------+---------+

In [88]:
spark.sql("SELECT * FROM test.city;").show()

+---------+---------+
|City_code|Home_city|
+---------+---------+
|       56|     Perm|
|       26|   Moscow|
+---------+---------+

In [89]:
spark.stop()

# Третья нормальная форма:
* Таблица должна быть во второй нормальной форме.
* Все колонки в таблице зависят от первичного ключа и не зависят друг от друга.