In [578]:
import init_spark_env
import pyspark
import pandas as pd

In [579]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col, avg, stddev, stddev_pop, isnan, lower, transform, udf, replace
from pyspark.sql.types import IntegerType

In [580]:
spark = SparkSession.builder.master('local').enableHiveSupport().appName('test_cli').getOrCreate()

In [581]:
spark

In [582]:
data = spark.read.csv('data/fifa_s2.csv')

In [583]:
data.show()

+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+--------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|  _c0|              _c1|_c2|                _c3|    _c4|      _c5|                _c6|  _c7| _c8|           _c9|                _c10|       _c11|    _c12|  _c13|                _c14|       _c15|  _c16|          _c17|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+--------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|   ID|             Name|Age|        Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Rep...|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
| 1179|        G. Buffon| 40|              Italy|     88|       88|Paris Saint-Germain| 4000|  77|         Right|                   4|          1|      GK|  2018|          01/01/2019|6.333333333|   203|          7400|
| 5479|         Casillas| 37|              Spain|     82|       82|           FC Porto| 1500|  10|          Left|                   4|          1|    NULL|  2015|          01/01/2019|6.083333333|   185|          3000|
| 8205|            Braga| 35|           Portugal|     70|       70|            CD Aves|  750|   5|         Right|                   1|          3|     LCM|  2017|          01/01/2019|5.916666667|   165|          1600|
| 9014|        A. Robben| 34|        Netherlands|     84|       84|  FC Bayern München|15500| 110|          Left|                   4|          4|      RM|  2009|          01/01/2019|5.916666667|   176|         25600|
|19521|        J. Ibehre| 35|            England|     61|       61|   Cambridge United|  120|   2|         Right|                   1|          2|      ST|  2017|          01/01/2019|6.333333333|   203|           210|
|20209|    Ricardo Costa| 37|           Portugal|     74|       74|         CD Tondela|  750|   4|         Right|                   2|          2|     LCB|  2017|          01/01/2019|          6|   181|          1600|
|20801|Cristiano Ronaldo| 33|           Portugal|     94|       94|           Juventus|77000| 405|         Right|                   5|          5|      ST|  2018|          01/01/2022|6.166666667|   183|        127100|
|24630|       Pepe Reina| 35|              Spain|     83|       83|              Milan| 6000|  56|         Right|                   3|          1|      GK|  2018|                NULL|6.166666667|   203|         10200|
|27532|      D. de Vries| 37|        Netherlands|     66|       66|             Celtic|   40|   7|         Right|                   1|          1|      GK|  2016|          01/01/2019|       6.25|   212|            72|
|45083|    S. von Bergen| 35|        Switzerland|     73|       73|     BSC Young Boys|  950|  12|         Right|                   2|          2|     LCB|  2013|          01/01/2022|          6|   174|          1400|
|46175|     M. Rosenberg| 35|             Sweden|     73|       73|           Malmö FF| 1800|   6|         Right|                   1|          3|      RS|  2014|          01/01/2020|          6|   179|          2400|
|47201|         S. Proto| 35|            Belgium|     76|       76|              Lazio| 1800|  20|         Right|                   2|          1|      GK|  2018|          01/01/2021|          6|   163|          3100|
|48940|          P. Čech| 36|     Czech Republic|     82|       82|            Arsenal| 3000|  60|          Left|                   4|          1|    NULL|  2015|          01/01/2019|6.416666667|   198|          5700|
|52498|       M. Lehmann| 35|            Germany|     72|       72|         1. FC Köln|  725|  10|         Right|                   2|          2|     CDM|  2012|          01/01/2019|5.833333333|   165|          1100|
|52679|        J. Murphy| 36|Republic of Ireland|     62|       62|               Bury|   40|   1|          Left|                   1|          1|      GK|  2017|          01/01/2019|6.166666667|   194|            70|
|53110|        C. Gordon| 35|           Scotland|     74|       74|             Celtic| 1300|  20|          Left|                   2|          1|      GK|  2014|          01/01/2020|6.333333333|   183|          2400|
|53302|      D. De Rossi| 34|              Italy|     83|       83|               Roma| 8000|  80|         Right|                   3|          2|     RDM|  2002|                NULL|          6|   183|         13600|
|53363|        A. Collin| 33|            England|     62|       62|    Carlisle United|  150|   2|         Right|                   1|          1|      GK|  2018|          01/01/2019|       6.25|   172|           263|
|53739|         L. Grant| 35|            England|     74|       74|  Manchester United| 1300|  39|         Right|                   1|          1|      GK|  2018|          01/01/2020|6.333333333|   183|          2500|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+--------------------+-----------+--------+------+--------------------+-----------+------+--------------+
only showing top 20 rows

In [584]:
parser = spark.read.option("header", "true").option("nullValue", "?").option("inferSchema", "true").csv("data/fifa_s2.csv")

In [585]:
parser.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Wage: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Position: string (nullable = true)
 |-- Joined: integer (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Release Clause: double (nullable = true)

In [586]:
parser.dtypes

[('ID', 'int'),
 ('Name', 'string'),
 ('Age', 'int'),
 ('Nationality', 'string'),
 ('Overall', 'int'),
 ('Potential', 'int'),
 ('Club', 'string'),
 ('Value', 'int'),
 ('Wage', 'int'),
 ('Preferred Foot', 'string'),
 ('International Reputation', 'int'),
 ('Skill Moves', 'int'),
 ('Position', 'string'),
 ('Joined', 'int'),
 ('Contract Valid Until', 'string'),
 ('Height', 'double'),
 ('Weight', 'double'),
 ('Release Clause', 'double')]

In [587]:
parser.first()

Row(ID=1179, Name='G. Buffon', Age=40, Nationality='Italy', Overall=88, Potential=88, Club='Paris Saint-Germain', Value=4000, Wage=77, Preferred Foot='Right', International Reputation=4, Skill Moves=1, Position='GK', Joined=2018, Contract Valid Until='01/01/2019', Height=6.333333333, Weight=203.0, Release Clause=7400.0)

In [588]:
parser.count()

2399

In [589]:
parser.show(5)

+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|   ID|     Name|Age|Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
| 1179|G. Buffon| 40|      Italy|     88|       88|Paris Saint-Germain| 4000|  77|         Right|                       4|          1|      GK|  2018|          01/01/2019|6.333333333| 203.0|        7400.0|
| 5479| Casillas| 37|      Spain|     82|       82|           FC Porto| 1500|  10|          Left|                       4|          1|    NULL|  2015|          01/01/2019|6.083333333| 185.0|        3000.0|
| 8205|    Braga| 35|   Portugal|     70|       70|            CD Aves|  750|   5|         Right|                       1|          3|     LCM|  2017|          01/01/2019|5.916666667| 165.0|        1600.0|
| 9014|A. Robben| 34|Netherlands|     84|       84|  FC Bayern München|15500| 110|          Left|                       4|          4|      RM|  2009|          01/01/2019|5.916666667| 176.0|       25600.0|
|19521|J. Ibehre| 35|    England|     61|       61|   Cambridge United|  120|   2|         Right|                       1|          2|      ST|  2017|          01/01/2019|6.333333333| 203.0|         210.0|
+-----+---------+---+-----------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
only showing top 5 rows

In [590]:
parser.cache()

24/12/09 22:49:35 WARN CacheManager: Asked to cache already cached data.

DataFrame[ID: int, Name: string, Age: int, Nationality: string, Overall: int, Potential: int, Club: string, Value: int, Wage: int, Preferred Foot: string, International Reputation: int, Skill Moves: int, Position: string, Joined: int, Contract Valid Until: string, Height: double, Weight: double, Release Clause: double]

In [591]:
parser.summary().show()

+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+
|summary|                ID|          Name|               Age|Nationality|          Overall|        Potential|                Club|            Value|              Wage|Preferred Foot|International Reputation|       Skill Moves|Position|           Joined|Contract Valid Until|             Height|            Weight|    Release Clause|
+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+
|  count|              2399|          2399|              2399|       2392|             2399|             2399|                2158|             2142|              2399|          2399|                    2389|              2393|    2378|             2399|                2126|               2399|              2399|              2396|
|   mean| 212033.6807002918|          NULL|25.213005418924553|       NULL|69.11504793664027|74.11504793664027|                NULL|5980.873015873016| 24.17882451021259|          NULL|      1.3084972791963165| 2.469703301295445|    NULL|2016.145894122551|                NULL| 5.9552996915347975| 166.8027823146311|10690.033498160967|
| stddev|30549.399067781855|          NULL| 4.633622374537239|       NULL| 8.06019489665706| 7.19095689308118|                NULL|11963.42068075075|49.552098447013805|          NULL|      0.6871753855940241|0.8445312688746288|    NULL|2.085829014091081|                NULL|0.21924897108311894|15.241015406722685|21780.029323033592|
|    min|              1179|    A. Acevedo|                16|    Albania|               47|               48|1. FC Heidenheim ...|               20|                 0|          Left|                       1|                 1|     CAM|             2000|          01/01/2018|               5.25|             121.0|              35.0|
|    25%|            195086|          NULL|                22|       NULL|               64|               69|                NULL|              500|                 1|          NULL|                       1|                 2|    NULL|             2016|                NULL|        5.833333333|             154.0|            1100.0|
|    50%|            218745|          NULL|                25|       NULL|               69|               74|                NULL|             1100|                 5|          NULL|                       1|                 2|    NULL|             2017|                NULL|                6.0|             165.0|            3800.0|
|    75%|            234577|          NULL|                29|       NULL|               74|               79|                NULL|             6000|                22|          NULL|                       1|                 3|    NULL|             2018|                NULL|        6.083333333|             176.0|            7500.0|
|    max|            246608|Óscar Valentín|                44|      Wales|               94|               95|             Udinese|           118500|               565|         Right|                       5|                 5|      ST|             2018|          31/12/2018|        6.583333333|             214.0|          228100.0|
+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+

In [592]:
parser.describe().show()

+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+
|summary|                ID|          Name|               Age|Nationality|          Overall|        Potential|                Club|            Value|              Wage|Preferred Foot|International Reputation|       Skill Moves|Position|           Joined|Contract Valid Until|             Height|            Weight|    Release Clause|
+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+
|  count|              2399|          2399|              2399|       2392|             2399|             2399|                2158|             2142|              2399|          2399|                    2389|              2393|    2378|             2399|                2126|               2399|              2399|              2396|
|   mean| 212033.6807002918|          NULL|25.213005418924553|       NULL|69.11504793664027|74.11504793664027|                NULL|5980.873015873016| 24.17882451021259|          NULL|      1.3084972791963165| 2.469703301295445|    NULL|2016.145894122551|                NULL| 5.9552996915347975| 166.8027823146311|10690.033498160967|
| stddev|30549.399067781855|          NULL| 4.633622374537239|       NULL| 8.06019489665706| 7.19095689308118|                NULL|11963.42068075075|49.552098447013805|          NULL|      0.6871753855940241|0.8445312688746288|    NULL|2.085829014091081|                NULL|0.21924897108311894|15.241015406722685|21780.029323033592|
|    min|              1179|    A. Acevedo|                16|    Albania|               47|               48|1. FC Heidenheim ...|               20|                 0|          Left|                       1|                 1|     CAM|             2000|          01/01/2018|               5.25|             121.0|              35.0|
|    max|            246608|Óscar Valentín|                44|      Wales|               94|               95|             Udinese|           118500|               565|         Right|                       5|                 5|      ST|             2018|          31/12/2018|        6.583333333|             214.0|          228100.0|
+-------+------------------+--------------+------------------+-----------+-----------------+-----------------+--------------------+-----------------+------------------+--------------+------------------------+------------------+--------+-----------------+--------------------+-------------------+------------------+------------------+

In [593]:
data = parser

In [594]:
data = data.withColumn("name", lower("Name"))
data = data.withColumn("nationality", lower("Nationality"))
data = data.withColumn("club", lower("Club"))
data = data.withColumn("preferred foot", lower("Preferred Foot"))
data = data.withColumn("position", lower("Position"))
data.count()

2399

In [595]:
data.toPandas().isna().sum()

ID                            0
name                          0
Age                           0
nationality                   7
Overall                       0
Potential                     0
club                        241
Value                       257
Wage                          0
preferred foot                0
International Reputation     10
Skill Moves                   6
position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

In [596]:
data.filter(data.nationality.isNull()).show()

+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|    ID|         name|Age|nationality|Overall|Potential|                club|Value|Wage|preferred foot|International Reputation|Skill Moves|position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|156432|    g. hoarau| 34|       NULL|     77|       77|      bsc young boys| 4700|  26|         right|                       2|          3|      ls|  2014|          01/01/2020|6.333333333| 187.0|        7000.0|
|186146|   d. welbeck| 27|       NULL|     77|       77|             arsenal| 9500|  95|         right|                       3|          3|      lw|  2014|          01/01/2019|6.083333333| 161.0|       18100.0|
|207894|    t. strobl| 28|       NULL|     77|       77|borussia möncheng...| 7000|  27|         right|                       2|          2|     cdm|  2016|          01/01/2020|6.166666667| 170.0|       11900.0|
|219411| j. izquierdo| 25|       NULL|     77|       78|brighton & hove a...|10500|  45|         right|                       2|          4|      lm|  2017|          01/01/2021|5.583333333| 165.0|       20700.0|
|227476|       soares| 27|       NULL|     78|       79|            fc porto|12000|  17|         right|                       1|          3|      ls|  2017|          01/01/2021|6.166666667| 181.0|       24900.0|
|228251|l. pellegrini| 22|       NULL|     78|       84|                roma|14000|  51|         right|                       2|          3|      cm|  2017|          01/01/2022|6.083333333| 170.0|       26600.0|
|228881|  d. calabria| 21|       NULL|     78|       88|               milan|14500|  52|         right|                       1|          3|      rb|  2015|          01/01/2022|       5.75| 154.0|       27600.0|
+------+-------------+---+-----------+-------+---------+--------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+

In [597]:
data = data.fillna(value='unknown', subset=['nationality','club','position', 'Contract Valid Until'])
data = data.fillna(value=0, subset=['Value'])

In [598]:
data.select('International Reputation').distinct().show()

+------------------------+
|International Reputation|
+------------------------+
|                       1|
|                       3|
|                       5|
|                       4|
|                       2|
|                    NULL|
+------------------------+

In [599]:
data = data.fillna(value=0, subset=['International Reputation'])

In [600]:
data.select('Skill Moves').distinct().show()

+-----------+
|Skill Moves|
+-----------+
|          1|
|          3|
|          5|
|          4|
|          2|
|       NULL|
+-----------+

In [601]:
data = data.fillna(value=0, subset=['Skill Moves'])

In [602]:
data.select('Release Clause').distinct().show()

+--------------+
|Release Clause|
+--------------+
|        4800.0|
|         596.0|
|   4585.060806|
|         934.0|
|         305.0|
|       56400.0|
|         810.0|
|       18400.0|
|         170.0|
|         720.0|
|       10300.0|
|         608.0|
|       60200.0|
|         735.0|
|       90000.0|
|          70.0|
|         878.0|
|       16800.0|
|         311.0|
|       12600.0|
+--------------+
only showing top 20 rows

In [603]:
data = data.fillna(value=0, subset=['Release Clause'])

In [604]:
data.toPandas().isna().sum()

ID                          0
name                        0
Age                         0
nationality                 0
Overall                     0
Potential                   0
club                        0
Value                       0
Wage                        0
preferred foot              0
International Reputation    0
Skill Moves                 0
position                    0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Release Clause              0
dtype: int64

In [605]:
data.count()

2399

In [606]:
data = data.dropDuplicates()

In [607]:
data.count()

2397

In [608]:
data.select('club').distinct().count()

81

In [609]:
list_club = data.select('club').distinct().sort('club').rdd.flatMap(list).collect()

In [610]:
list_club

['1. fc heidenheim 1846',
 '1. fc kaiserslautern',
 '1. fc köln',
 '1. fc magdeburg',
 '1. fc nürnberg',
 '1. fc union berlin',
 '1. fsv mainz 05',
 'aalborg bk',
 'arsenal',
 'as béziers',
 'as monaco',
 'aston villa',
 'atalanta',
 'bayer 04 leverkusen',
 'borussia dortmund',
 'borussia mönchengladbach',
 'brescia',
 'brighton & hove albion',
 'brisbane roar',
 'bristol city',
 'bristol rovers',
 'bsc young boys',
 'burnley',
 'bursaspor',
 'burton albion',
 'bury',
 'ca osasuna',
 'cagliari',
 'cambridge united',
 'cardiff city',
 'carlisle united',
 'carpi',
 'cd antofagasta',
 'cd aves',
 'cd everton de viña del mar',
 'cd feirense',
 'cd huachipato',
 'cd leganés',
 'cd lugo',
 'cd nacional',
 'cd numancia',
 "cd o'higgins",
 'cd palestino',
 'cd tenerife',
 'cd tondela',
 'cd universidad de concepción',
 'ceará sporting club',
 'celtic',
 'central coast mariners',
 'cerezo osaka',
 'cf rayo majadahonda',
 'cf reus deportiu',
 'chamois niortais football club',
 'changchun yatai fc',
 'chapecoense',
 'charlton athletic',
 'chelsea',
 'cádiz cf',
 'córdoba cf',
 'fc barcelona',
 'fc basel 1893',
 'fc bayern münchen',
 'fc heidenheim 1846',
 'fc köln',
 'fc porto',
 'inter',
 'juventus',
 'lazio',
 'liverpool',
 'livingston fc',
 'lokomotiv moscow',
 'malmö ff',
 'manchester city',
 'manchester united',
 'milan',
 'paris saint-germain',
 'real madrid',
 'roma',
 'sevilla fc',
 'udinese',
 'unknown']

In [611]:
def group_age(age):
    if age<20:
        return 1
    elif 20 <= age <= 30:
        return 2
    elif 30 < age <=36:
        return 3
    elif age > 36:
        return 4

In [612]:
age_fun = udf(lambda x: group_age(x), IntegerType())

In [613]:
data = data.withColumn('age_grup', age_fun(col('Age')))

In [614]:
data.select('Age', 'age_grup').show(10)

+---+--------+
|Age|age_grup|
+---+--------+
| 33|       3|
| 32|       3|
| 28|       2|
| 28|       2|
| 25|       2|
| 23|       2|
| 18|       1|
| 20|       2|
| 23|       2|
| 35|       3|
+---+--------+
only showing top 10 rows

In [615]:
data.select('age_grup').groupBy('age_grup').count().sort('count').show()

+--------+-----+
|age_grup|count|
+--------+-----+
|       4|   15|
|       1|  270|
|       3|  339|
|       2| 1773|
+--------+-----+